################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentServices/.vs/StudentServices
/StudentServices/bin/Debug/net6.0
/StudentServices/obj
